body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#currentTime {
    font-size: 24px;
    color: #007BFF;
    margin-bottom: 20px;
}

input[type="text"], input[type="datetime-local"], select, textarea, input[type="checkbox"] {
    width: 20%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 45%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.high-priority {
    background-color: #ffcccc; /* 高优先级背景色 */
}

li.medium-priority {
    background-color: #ffffcc; /* 中优先级背景色 */
}

li.low-priority {
    background-color: #ccffcc; /* 低优先级背景色 */
}

li span {
    margin-left: 10px;
}

label {
    margin-right: 10px;
}

.personalization-settings {
    margin-top: 20px;
}

.personalization-settings h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.personalization-settings label {
    margin-right: 10px;
}
